div{
    padding: 30px;
    background-color: aqua;
   
}
.div1 p{
    background-color: burlywood;
    color: blue;
    padding: 10px;
    box-shadow: 4px 3px 2px black;
    text-decoration: underline 2px red;
    text-decoration: overline;
}

.div3{
    padding: 30px;
    background-color: blueviolet;
   
}
.div3 > p{
    background-color: red;
    color: blue;
    padding: 10px;
    box-shadow: 4px 3px 2px black;
    text-decoration: underline 2px green;
    text-decoration: overline;
}

.div6{
    padding: 30px;
    background-color: #37e22b;
   
}
.div6 + p{
    background-color: red;
    color: blue;
    padding: 10px;
    box-shadow: 4px 3px 2px black;
    text-decoration: underline 2px green;
    text-decoration: overline;
}