a:active{
    background-color: blue;
    color: brown;
    padding: 30px;
    text-decoration: underline 10px greenyellow wavy;
}
h1:active{
       background-color: chocolate;
       padding: 10px;
}
 /* h1:hover{
    padding: 30px;
    background-color: cornflowerblue;
}  */
h2:hover{
    background-color: cyan;
    display: inline;
    padding: 4px 10px;
    border-radius: 10px;
    cursor: pointer;
}
input[type="radio"]:checked + label{
    background-color: blueviolet;
    color: darkgoldenrod;

}
input[type="email"]:focus{
    background-color: darksalmon;
    border-radius: 10px;
}

input[type="password"]:focus{
    background-color:burlywood;
    border-radius: 6px;
}
/* input[type="radio"]{

} */

textarea:disabled{
    background-color: darkgoldenrod;
}
input:enabled{
    background-color: darksalmon;
    padding: 10px;
}

p:first-child {
       background-color: yellow;
}

/* .first:first-of-type {
    background: red; */
  
  h6:empty{
    width:100px;
    height: 20px;
    background-color: aquamarine;
  }
  span:last-child {
    background: #ff0000;
  }
  h3:last-child{
            background-color: chartreuse;
  }