h1{
    background-color: aqua;
    color: burlywood;
    font-style: normal;
}
.img1{
    position: absolute;
    /* top:10rem; */
    z-index: 1;
    /* left: 10rem; */
    /* opacity: 1; */
    /* background-color: aquamarine; */
}
.img2{
    position:absolute;
    z-index: 4;
    /* opacity: 2; */
}

.img3{
    position:absolute;
    z-index: 8;
    /* opacity: 3; */
}

.img4{
    position:absolute;
    z-index: 10;
    /* opacity: 4; */
}


.imgs1{
    position: absolute;
    /* top:10rem; */
    z-index: 1;
    /* left: 10rem; */
    /* opacity: 1; */
    /* background-color: aquamarine; */
}
.imgs2{
    position:fixed;
    z-index: 4;
    /* opacity: 2; */
}

.imgs3{
    position:relative;
    z-index: 8;
    /* opacity: 3; */
}

.imgs4{
    position:sticky;
    z-index: 10;
    /* opacity: 4; */
}