.nav-bar{
    background-image: url('https://www.recruiter.co.uk/sites/default/files/media/image/2019/travel-photographer-istock-1034301914.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    /* background: transparent; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* z-index: 100; */
   
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

li{
list-style-type: none;
margin: 10px;
}

section{
    margin-left: 22%;
    margin-top: 100px;
}

.nav-bar h1{
    font-size: 50px;
    font-weight: 900;
    color: black;
    
}

#p1{
    width: 400px;
    color: whitesmoke;
    font-size: 20px;
    font-weight: 400;
}

#b{
    padding: 20px 20px 20px 20px;
    /* background-color: white; */
    margin: 20px 0px;
    display: inline-block;
    border-radius: 5%;
    background-color: aqua;
}

#b:hover{
    padding: 30px;
    background-color: white;
}

.section2{
    /* background-color: aqua; */
    margin-left: 32%;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 50px;
    margin-left: 12%;
    justify-content: center;
    /* background-color: aquamarine; */
}

.div1{
    background-color: white;
    width: 200px;
    height: 200px;
    text-align: center;
    border: 2px solid brown;
}

.div2{
    background-color: white;
    width: 200px;
    height: 200px;
    text-align: center;
    border: 2px solid brown;
}

.div3{
    background-color: white;
    width: 200px;
    height: 200px;
    text-align: center;
    border: 2px solid brown;
}

#p2{
    width: 400px;
    color: brown;
    font-size: 20px;
    font-weight: 400;
}

footer{
    margin-top: 50px;
    background-color: burlywood;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    margin: 10px;
}

li{
    list-style-type: none;
}

.f1{
margin: 20px;
padding: 20px 50px;
}

#d1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


i{
    padding: 10px;
}