body{
    background-image: url("https://images.pexels.com/photos/3278215/pexels-photo-3278215.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"); 
    background-size: 100% 100%;
    margin: 30px;
    padding: 20px;
}
    .header{
        display: flex;
        justify-content: space-evenly;
        /* flex-direction: row; */
        position: sticky; 
        /* top: 0px; */
        /* z-index: 1000; */
        /* align-items: center; */
        /* gap: 10px;  */
    }
    .header a {
    color:brown;
    text-decoration: none;
    margin: 10px;
    margin-top: 20px;
     }
    .header h1 {
    padding-right: 40rem;
    color:aqua;
    margin-top: 10px;
    }
    .main-section{
        margin-left: 50px;
    }
    .main-section h2{
        color:brown;
        /* font-size: 10px; */
        font-weight: bold;
    }
    .main-section p{
        /* font-size: 10px; */
        color:coral;
    }
    .main-section a{
        font-size: 40px;
        display:inline-block;
        color: aqua;
        background-color: antiquewhite;
        padding: 5px;
        text-decoration: none;
        transition: all ease 5s 2s;
    }
    section a:hover{
        background-color: burlywood;
        transform: scale(1.5, 1.5);
    }
.main-section1{
    background-color: cornflowerblue;
    padding: 50px;
    margin: 30px; 
}
.pricing-plans {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.plan {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    /* width: 50px; */
}

.plan:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px pink;
}

h2 {
    /* font-size: 80px; */
    /* color:blanchedalmond; */
    margin: 10px 0;
}
ul {
    list-style: none;
    padding: 0;
    color:chocolate;
    margin-bottom: 20px;
}
.container{
   display: flex;
   justify-content: space-evenly;
   gap:20px; 
}
.container .col3 li{
    list-style:none;
}
.col3 img{
    padding: 10px;
}
.copy{
    background-color: aqua;
    text-align: center;
    padding-bottom: 20px;
}
.footer{
    background-color: antiquewhite;
    /* margin: 30px; */
     
}