/* .p4::fisrt-line{
    background-color: aqua;
    color: blueviolet;
    /* padding: 15px; */
/* }
.p1::first-letter{
    color: brown;
    background-color: coral;
    font-size: 60px;
}
.p2::before{ */
    /* content: url("https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?cs=srgb&dl=daylight-environment-forest-459225.jpg&fm=jpg");
    width: 20px; */
    /* content: "btech";
}  */
/* .p3::after{
    content: "-have a nice day";
} */
p[id="hello1"]{
    background-color:cyan;
    color: chartreuse;

}
p[id="hello2"]{
    background-color:blueviolet;
    color:darkgreen;
    
}
img[alt="hello"]{
    background-color: darkmagenta;
    width: 500px;
    border-radius: 50%;
    padding: 40px;
}

img[title="hyy"]{
    background-color: darkkhaki;
    width: 300px;
    padding: 10px;
    border-radius: 8px;
}
/* img[title="ram"]{
    background-color:cornflowerblue;
    width: 300px;
    padding: 10px;
    border-radius: 8px;
} */