:root{
    --h-bgcolor:red;
    --p-bgcolor:blue;
    --t-padding:green;
    --img-bgcolor:purple;
    --d-bgcolor:yellow;
    --blue:lightblue;
}
h1{
    background-color:var(--h-bgcolor);
}
p{
     background-color: var(--img-bgcolor);
}
span{
    /* background-color:chartreuse; */
    background-color: var(--blue);
}
table thead th{
    background-color: var(--p-bgcolor);
    padding: var(--t-padding);
}
tbody tr td{
    background-color: var(--d-bgcolor);
}